
/*opciones header*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: black;
    height: 90px;
    border-bottom: 2px solid #333;
    gap: 20px;
}
/*configuracion a la pagina en general*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*background*/
html, body {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
/*centrar las letras header*/
.main-menu {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

/*ARIRANG*/
.navigation-header {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    padding: 20px 30px;
    background-color: #460606;
    
}
.simple-link {
    font-family: 'Bebas Neue', sans-serif;
    color: white;             
    text-decoration: none;  
    font-size: 2rem;
    letter-spacing: 1px;
    cursor: pointer;        
    transition: color 0.3s ease;
}


.simple-link:hover {
    color: #888; 
}

.navbar h2{
    font-family: 'Bebas Neue', serif; 
    color: white;
    font-size: 4rem;
    text-align: left;
}



/*Configuracion contenido*/
.album-detail {
    display: flex;         
    align-items: flex-start; 
    padding: 100px 50px;  
    gap: 60px;            
    background-color: black;
    min-height: 100vh;    
}

.album-visual {
    flex: 1;              
    display: flex;
    justify-content: center;
}

.album-visual img {
    width: 100%;        
    max-width: 500px;    
    height: auto;
}

.album-description {
    flex: 1;               
    text-align: left;
}

.album-type {
    font-family: 'Bebas Neue', sans-serif;
    color: #700808;     
    font-size: 1.2rem;
    display: block;
    margin-bottom: 10px;
}

.album-main-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;     
    line-height: 1;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.album-text-content p {
    font-family: 'Arial', sans-serif; 
    line-height: 1.6;      
    font-size: 1rem;
    color: #bebebe;
}


