/* Configuracion header*/

/*opciones header*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: black;
    height: 90px;
    border-bottom: 2px solid #333;
    gap: 20px;
}
/*configuracion a la pagina en general*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo {
    height: 45px;
    width: 45px;
    align-items: center;
    margin-left: 25px;
}

.lang-section {
    color: white;
    font-family: 'Bebas Neue', serif; 
    font-size: 2rem;
    margin-top: 20px;
    margin-right: 25px;
    text-align:right;
}

/*background*/
html, body {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
/*centrar las letras header*/
.main-menu {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.main-menu a {
    color: white;
    font-family: 'Bebas Neue', serif; 
    font-size: 2rem;
    margin-top: 20px;
    text-align: auto;
    margin-left: auto;
}

/*Configuracion barra de busqueda*/
.Search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #444;
    padding: 4px 15px; 
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.03);
    margin-left: 40px; 
    margin-right: 15px;
    width: 200px;
}

.search-input {
    background: transparent;
    border: none;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    outline: none;
    width: 100%;    
}

.search-button {
    background: transparent;
    border: none;
    color: #f8f7f7;
    cursor: pointer;
    font-family: 'bebas neue', sans-serif;
    font-size: 2rem;
    padding-left: 5px;
}


/*Configuracion integrantes*/


.discography-filter {
    display: flex;       
    align-items: baseline; 
    gap: 50px;             
    padding: 40px 20px;
    background-color: black;
}

.title-section {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 3rem;     
    margin: 0;             
    white-space: nowrap;  
}

.members-container {
    display: flex;
    gap: 20px;            
    flex-wrap: nowrap;    
}

.member-item {
    font-family: 'Bebas Neue', sans-serif;
    color: #666;
    font-size: 2.3rem;
    cursor: pointer;
    white-space: nowrap;  
}

/*configuracion albumes*/
.album-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    background-color: black;
}

.album-card {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
    font-family: 'bebas neue', sans-serif;
    font-size: 1.5rem;
}

.album-card:hover {
    transform: translateY(-5px); /*efecto de elevacion al pasar el mouse*/
}

.album-image img {
    width: 100%; 
    height: auto;
    display: block;
}

.album-info h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    margin-top: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/*configuracion footer*/
.main-footer {
    background-color: black;
    color: white;
    padding: 10px 5px 10px 5px;
    font-family: 'Bebas Neue', sans-serif; 
    border-top: 1px solid #222;
}

.footer-middle img {
    align-items: center;
    margin-bottom: 20px;


}

.footer-middle {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 10px 0;         
    background-color: black;
}

.footer-logo-img {
    width: 60%;             
    max-width: 700px;
    max-height: 300px;                   
    display: block;          
    filter: brightness(1);   
    opacity: 0.9;            
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333;
    padding-top: 20px;
    font-size: 2rem;
    letter-spacing: 1px;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
    font-family: 'bebas neue', sans-serif;
}
.footer-center {
    display: flex;
    gap: 15px;
    font-family: 'bebas neue', sans-serif;
}

.family-sites {
    display: inline-block;
    margin-left: 20px;
    border: 1px solid white;
    padding: 2px 10px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}