/*header*/
.navbar {
    grid-area: header;
    display:grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 40px;
    background-color: black;
    border-bottom: 1px solid #333;
    height: 90px;
}


/*background*/
body {
    background-color:de black;
    margin: 0;
    color: white;

}
.main-menu a {
    color: red;
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0 20px;
    transition: color 0.3s;
}
/* .main-menu a: hover{
    color: #aaa;
} */